<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
  <ion-progress-bar [value]="progress"></ion-progress-bar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment *ngIf="!this.userData?.is_onboarded" value="user_info" class="p-3" [(ngModel)]="segment">
    <ion-segment-button value="user_info" class="p-1">
      <ion-label>User Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="identity_info" class="p-1">
      <ion-label>Identity Info</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="!this.userData?.is_onboarded" [ngSwitch]="segment">
    <ion-card *ngSwitchCase="'user_info'">
      <ion-card-header>
        <ion-card-title>
          User Information
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="imageForm" class="p-5" *ngIf="steps === EOnboardingStep.IMAGE_UPLOAD"
          (ngSubmit)="submitImage()">
          <div class="p-5">
            <p class="text-sm text-center text-primary font-semibold">Step 2 of 2</p>
            <p class="text-sm text-primary text-center">Add a profile photo</p>

            <div *ngIf="imageChangedEvent">

              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="1 / 1" [resizeToWidth]="256"
                [cropperMinWidth]="100" [onlyScaleDown]="true" [roundCropper]="true" [canvasRotation]="canvasRotation"
                [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFail()"></image-cropper>

              <ion-icon (click)="deleteImage()" color="danger" name="trash-outline"></ion-icon>
            </div>

            <div *ngIf="!imageChangedEvent" class="mt-5 flex justify-center">
              <label for="image" class="mx-auto">
                <ion-icon name="add-circle-outline" class="text-[6em] mx-auto text-primary "></ion-icon>
                <!-- <img src="assets/imgs/add-profile.svg" class="mx-auto cursor-pointer w-[80%]" alt=""> -->
              </label>
              <input type="file" id="image" class="hidden" accept="image/*" formControlName="url"
                (change)="uploadImage($event)">
            </div>

            <div class="w-full my-5">
              <ion-button color="primary" type="submit" [disabled]="imageForm.invalid" expand="full"
                class="my-5 rounded">Upload</ion-button>
            </div>

          </div>
          <p class="text-center my-2"><a (click)="steps = EOnboardingStep.COMPLETE" class="underline">I'll do this
              later</a></p>
        </form>
        <form *ngIf="steps === EOnboardingStep.COMPLETE" [formGroup]="form" (ngSubmit)="onSubmit(form.value)"
          class="mt-5">
          <div class="mb-5">
            <ion-select formControlName="code"
              class="w-full px-1 bg-white text-primary border border-primary rounded-tl-lg rounded-tr-lg"
              label="Select Country" placeholder="Select country code">
              <ng-container *ngFor="let country of countries$ | async">
                <ion-select-option [value]="country.phone_code">{{ country.name }}({{ country.phone_code
                  }})</ion-select-option>
              </ng-container>
            </ion-select>
            <input type="text" placeholder="Phone Number ({{ phoneDigitSamplePlaceholder }})" formControlName="phone"
              class="w-full p-3 bg-white text-primary border border-primary border-t-0 rounded-bl-lg rounded-br-lg">

            <div *ngIf="formCtrl['code'].errors">
              <ion-text color="danger" *ngIf="formCtrl['code'].dirty && formCtrl['code'].hasError('required')">
                Country code is required
              </ion-text>
            </div>

            <div *ngIf="formCtrl['phone'].errors">
              <ion-text color="danger" *ngIf="formCtrl['phone'].dirty && formCtrl['phone'].hasError('required')">
                Phone number is required
              </ion-text>

              <ion-text color="danger"
                *ngIf="formCtrl['phone'].dirty && formCtrl['phone'].hasError('pattern') || formCtrl['phone'].hasError('pattern')">
                Invalid Phone number
              </ion-text>
            </div>
          </div>

          <div class="w-full mb-5">
            <input type="date" formControlName="birthdate"
              class="w-full p-2 bg-white text-primary border border-primary rounded-lg" label="Select Country"
              placeholder="dd/mm/yyyy">
            <div *ngIf="formCtrl['birthdate'].errors">
              <ion-text color="danger"
                *ngIf="formCtrl['birthdate'].dirty && formCtrl['birthdate'].hasError('required')">
                Birthdate is required
              </ion-text>
            </div>
            <p class="text-xs text-[#878484] my-2">To sign up, you need to be at least 18. Your birthday won't be
              shared
              with other people who use Craftimity</p>
          </div>


          <div class="w-full mb-5">
            <ion-input type="number" formControlName="house_number"
              class="w-full p-2 bg-white text-primary placeholder:text-primary border border-primary rounded-lg"
              placeholder="House Number"></ion-input>
            <div *ngIf="formCtrl['house_number'].errors">
              <ion-text color="danger"
                *ngIf="formCtrl['house_number'].dirty && formCtrl['house_number'].hasError('required')">
                House number is required
              </ion-text>
            </div>
          </div>

          <div class="w-full my-5">
            <ion-input type="text" formControlName="street_name"
              class="w-full p-2 bg-white text-primary placeholder:text-primary border border-primary rounded-lg"
              placeholder="Street Name"></ion-input>
            <div *ngIf="formCtrl['street_name'].errors">
              <ion-text color="danger"
                *ngIf="formCtrl['street_name'].dirty && formCtrl['street_name'].hasError('required')">
                Street name is required
              </ion-text>
            </div>
          </div>

          <div class="mb-5">
            <ion-select formControlName="country"
              class="w-full px-1 text-xs bg-white text-primary border border-primary rounded-lg" label="Select Country"
              placeholder="Select country code" (ionChange)="onSelectCountry($event)">
              <ng-container *ngFor="let country of countries$ | async">
                <ion-select-option class="w-10" [value]="country.id">{{ country.name }}</ion-select-option>
              </ng-container>
            </ion-select>
            <div *ngIf="formCtrl['country'].errors">
              <ion-text color="danger" *ngIf="formCtrl['country'].dirty && formCtrl['country'].hasError('required')">
                State is required
              </ion-text>
            </div>
          </div>

          <div class="mb-5">
            <ion-select formControlName="state"
              class="w-full text-xs px-1 bg-white text-primary border border-primary rounded-lg" label="Select State"
              placeholder="Select country code" (ionChange)="onSelectState($event)">
              <ng-container *ngFor="let state of states$ | async">
                <ion-select-option class="w-10" [value]="state.id">{{ state.name }}</ion-select-option>
              </ng-container>
            </ion-select>
            <div *ngIf="formCtrl['state'].errors">
              <ion-text color="danger" *ngIf="formCtrl['state'].dirty && formCtrl['state'].hasError('required')">
                State is required
              </ion-text>
            </div>
          </div>

          <div class="mb-5">
            <ion-select formControlName="city"
              class="w-full px-1 text-xs bg-white text-primary border border-primary rounded-lg" label="Select City"
              placeholder="Select country code">
              <ng-container *ngFor="let city of cities$ | async">
                <ion-select-option class="w-10" [value]="city.id">{{ city.name }}</ion-select-option>
              </ng-container>
            </ion-select>
            <div *ngIf="formCtrl['city'].errors">
              <ion-text color="danger" *ngIf="formCtrl['city'].dirty && formCtrl['city'].hasError('required')">
                State is required
              </ion-text>
            </div>
          </div>

          <div class="w-full mb-5">
            <ion-button color="primary" [disabled]="form.invalid" type="submit" expand="full"
              class="my-5 rounded">Save</ion-button>
            <ion-button color="medium" type="button" expand="full" class="my-5 rounded">Cancel</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>

    <ng-container *ngSwitchCase="'identity_info'">

      <ion-card class="m-5">
        <ion-segment value="user_info" [(ngModel)]="identity_segment">
          <ion-segment-button value="identity" class="p-1">
            <ion-label>Identity Info</ion-label>
          </ion-segment-button>
          <ion-segment-button value="artisan" class="p-1">
            <ion-label>Artisan Info</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-card>

      <ng-container [ngSwitch]="identity_segment">
        <ion-card *ngSwitchCase="'identity'">
          <ion-card-header>
            <ion-card-title>
              Identity Information
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              In accordance with government KYC regulations, we require your identity verification to ensure the
              protection
              of both yourself and our customers.
            </ion-text>

            <ion-button *ngIf="!liveImageUploaded" (click)="takePicture()" expand="full" class="mx-auto mt-5 p-3">
              Take a Live Selfie of yourself
              <ion-icon size="large" slot="start" color="light" name="camera-outline"></ion-icon>
            </ion-button>

            <ion-button *ngIf="liveImageUploaded" expand="full" color="warning" class="mt-5">
              <ion-text>Uploaded Awaiting Approval</ion-text>
              <ion-icon size="large" slot="start" name="reload-circle-outline"></ion-icon>
            </ion-button>
            <form class="mt-5">
              <ion-item>
                <ion-label>Select Identity Type</ion-label>
                <ion-select label="Select Identity Type" name="identity_type" [(ngModel)]="identity_type">
                  <ion-select-option value="National ID"> National ID </ion-select-option>
                  <ion-select-option value="Drivers License"> Drivers License </ion-select-option>
                  <ion-select-option value="Passport"> Passport </ion-select-option>
                </ion-select>
              </ion-item>

              <div *ngIf="identity_type">
                <label for="id_upload">
                  <ion-button expand="block" fill="outline" color="primary" class="mt-5">
                    <ion-text>Upload your {{ identity_type }}</ion-text>
                    <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                  </ion-button>
                </label>
                <input type="file" (change)="uploadFile($event)" id="id_upload" class="hidden"
                  accept=".pdf, image/png, image/jpeg">
                <ion-text class="text-xs" color="primary">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                </ion-text>
              </div>

              <div>
                <label for="address_upload">
                  <ion-button expand="block" fill="outline" color="primary" class="mt-5">
                    <ion-text>Upload</ion-text>
                    <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                  </ion-button>
                </label>
                <input type="file" (change)="uploadFile($event)" id="address_upload" class="hidden"
                  accept=".pdf, image/png, image/jpeg">
                <ion-text class="text-xs" color="primary">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  Kindly upload proof of your residential address, which may include an electricity bill,
                  proof of tenancy, or a bank statement indicating your house address.
                  Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                </ion-text>

              </div>
            </form>
          </ion-card-content>
        </ion-card>

        <ion-card *ngSwitchCase="'artisan'">
          <ion-card-header>
            <ion-card-title>
              Artisan Skill Information & Verification
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              To validate your artisan skills, we will need to collect either your Work ID or Certificate of Work, along
              with proof of your work address.
            </ion-text>

            <form class="mt-5">
              <div>
                <input type="text" placeholder="Service Name"
                  class="w-full p-3 bg-white text-primary placeholder:text-primary border border-primary rounded-lg">
                <!-- <div *ngIf="formControl['email'].errors">
                  <ion-text color="danger"
                    *ngIf="formControl['email'].dirty && formControl['email'].hasError('required')">Email address is
                    required</ion-text>
                  <ion-text color="danger"
                    *ngIf="formControl['email'].dirty && formControl['email'].hasError('email')">Invalide email
                    address</ion-text>
                </div> -->
              </div>

              <div class="mt-5">
                <input type="text" placeholder="Registered Business Name(Optional)"
                  class="w-full p-3 bg-white text-primary placeholder:text-primary border border-primary rounded-lg">
                <!-- <div *ngIf="formControl['email'].errors">
                  <ion-text color="danger"
                    *ngIf="formControl['email'].dirty && formControl['email'].hasError('required')">Email address is
                    required</ion-text>
                  <ion-text color="danger"
                    *ngIf="formControl['email'].dirty && formControl['email'].hasError('email')">Invalide email
                    address</ion-text>
                </div> -->
              </div>

              <ion-item class="mt-5">
                <ion-label>Select Service Category</ion-label>
                <ion-select label="Select Service Category">
                  <ion-select-option [value]="category.id" *ngFor="let category of categories$ | async">{{ category.name
                    }}</ion-select-option>
                </ion-select>
              </ion-item>

              <div>
                <label for="cert_upload">
                  <ion-button expand="block" fill="outline" color="primary" class="mt-5">
                    <ion-text>Artisan Certificate.</ion-text>
                    <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                  </ion-button>
                </label>
                <input type="file" (change)="uploadFile($event)" id="cert_upload" class="hidden"
                  accept=".pdf, image/png, image/jpeg">
                <ion-text class="text-xs" color="primary">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                </ion-text>
              </div>

              <div>
                <label for="work_id_upload">
                  <ion-button expand="block" fill="outline" color="primary" class="mt-5">
                    <ion-text>Work ID Card.</ion-text>
                    <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                  </ion-button>
                </label>
                <input type="file" (change)="uploadFile($event)" id="work_id_upload" class="hidden"
                  accept=".pdf, image/png, image/jpeg">
                <ion-text class="text-xs" color="primary">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                </ion-text>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>