<ion-header>
  <ion-toolbar>
    <ion-title>Account Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account Information</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="user_info" class="p-3" [(ngModel)]="segment">
    <ion-segment-button value="user_info" class="p-1">
      <ion-label>User Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="location_info" class="p-1">
      <ion-label>Location Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="identity_info" class="p-1">
      <ion-label>Identity Info</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="segment">
    <ion-refresher slot="fixed" [pullFactor]="0.6" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngSwitchCase="'user_info'">
      <ion-card-header>
        <ion-card-title>
          User Information
        </ion-card-title>
        <ion-card-subtitle class="flex justify-end">
          <ion-fab>
            <ion-fab-button size="small" *ngIf="!edit" (click)="toogleEdit()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" *ngIf="edit" color="danger" (click)="toogleEdit()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="userData">
        <div class="w-28 grid mx-auto" *ngIf="!editImage">
          <ion-avatar class="mx-auto w-28 h-28 mt-5">
            <ion-img *ngIf="userData?.profile_image" [src]="userData.profile_image"></ion-img>
            <ion-img *ngIf="!userData?.profile_image"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
          </ion-avatar>
          <ion-fab>
            <ion-fab-button size="small" *ngIf="!editImage" (click)="toogleEditImage()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>

        <form [formGroup]="imageForm" *ngIf="editImage">
          <div>
            <div *ngIf="imageChangedEvent">

              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="1 / 1" [resizeToWidth]="256"
                [cropperMinWidth]="100" [onlyScaleDown]="true" [roundCropper]="true" [canvasRotation]="canvasRotation"
                [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFail()"></image-cropper>


              <div>
                <ion-button size="medium" color="danger" (click)="deleteImage()">
                  <ion-icon slot="start" name="trash-outline"></ion-icon>
                  Delete
                </ion-button>
                <ion-button size="medium" color="success" (click)="submitImage()">
                  <ion-icon (click)="deleteImage()" slot="start" name="cloud-upload-outline"></ion-icon>
                  Upload
                </ion-button>
              </div>
            </div>

            <div *ngIf="!imageChangedEvent" class="mt-5 flex justify-center">
              <div class="w-28 grid mx-auto">
                <ion-avatar class="mx-auto w-28 h-28 mt-5">
                  <ion-img *ngIf="userData?.profile_image" [src]="userData.profile_image"></ion-img>
                  <ion-img *ngIf="!userData?.profile_image"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
                </ion-avatar>
                <ion-fab>
                  <ion-fab-button size="small" (click)="openImage(imageFile)" *ngIf="editImage">
                    <ion-icon name="image-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button size="small" color="danger" (click)="toogleEditImage()" *ngIf="editImage">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </div>
              <ion-input type="file" #imageFile id="image" class="hidden" accept="image/*" formControlName="url"
                (change)="uploadImage($event)"></ion-input>
            </div>
          </div>
        </form>

        <ion-list *ngIf="!edit">
          <ion-item class="py-3">
            <ion-text *ngIf="userData?.first_name">First Name: {{ userData.first_name}}</ion-text>
            <ion-text *ngIf="!userData?.first_name">First Name</ion-text>
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData?.first_name">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3">
            <ion-text *ngIf="userData?.last_name">Last Name: {{ userData.last_name}}</ion-text>
            <ion-text *ngIf="!userData?.last_name">Last Name</ion-text>
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData?.last_name">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3">
            <ion-text *ngIf="userData?.email">
              Email: {{ userData.email}}
            </ion-text>
            <ion-text *ngIf="!userData?.email">
              Email
            </ion-text>
            <ion-chip slot="end" color="warning" *ngIf="userData?.email && !userData?.email_verified">
              <ion-icon name="alert-outline"></ion-icon>
              verify
            </ion-chip>

            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData?.email">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3">
            <ion-text *ngIf="userData?.phone_number">Phone Number: {{ userData.phone_number}}</ion-text>
            <ion-text *ngIf="!userData?.phone_number">Phone Number</ion-text>
            <ion-chip slot="end" color="warning" *ngIf="userData?.phone_number && !userData?.phone_verified">
              <ion-icon name="alert-outline"></ion-icon>
              Verify
            </ion-chip>
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData?.phone_number">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3" lines="none">
            <ion-text *ngIf="userData?.birthdate">Birthdate: {{ userData.birthdate | date }}</ion-text>
            <ion-text *ngIf="!userData?.birthdate">Birthdate</ion-text>
            <ion-chip (click)="toogleEdit()" *ngIf="!userData?.birthdate" color="warning" slot="end">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>
        </ion-list>
        <form *ngIf="edit" [formGroup]="form" (ngSubmit)="onSubmitUserInfo(form.value)">
          <div class="w-full my-5">
            <ion-item>
              <ion-input label="First Name" type="text" name="first_name" formControlName="first_name"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="First Name"></ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5">
            <ion-item>
              <ion-input label="Last Name" type="text" name="last_name" formControlName="last_name"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="Last Name"></ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5" *ngIf="!userData?.email">
            <ion-item>
              <ion-input label="Email" type="text" name="email" formControlName="last_name"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="Email"></ion-input>
            </ion-item>
          </div>

          <div class="w-full mb-5" *ngIf="!userData?.phone_number">
            <ion-item formGroupName="phone">
              <ion-select class="w-28 px-1 bg-white text-primary" formControlName="code" placeholder="Code">
                <ng-container *ngFor="let country of countries$ | async">
                  <ion-select-option [value]="country.phone_code">
                    {{ country.name }} - {{ country.phone_code }}
                  </ion-select-option>
                </ng-container>
              </ion-select>
              <ion-input type="text" placeholder="Phone number ({{ phoneDigitSamplePlaceholder }})"
                formControlName="number" class="w-full p-3 bg-white text-primary placeholder:text-xs">
              </ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5">
            <ion-item>
              <ion-input label="Birthdate" type="date" name="birthdate" formControlName="birthdate"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="Birthdate"></ion-input>
            </ion-item>
          </div>

          <ion-button color="primary" type="submit" expand="full" class="my-5 rounded">
            Save
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngSwitchCase="'location_info'">
      <ion-card-header>
        <ion-card-title>
          Addresses
        </ion-card-title>
        <ion-card-subtitle class="flex justify-end">
          <ion-fab>
            <ion-fab-button size="small" (click)="openModal(createEditAddressComponent, { action: 'add' })">
              <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="mt-12" *ngIf="userData">
        <ion-text class="text-center" *ngIf="userData && !userData?.address?.length">
          No address, click the button to add one
        </ion-text>
        <ion-fab-button class="text-center mx-auto" *ngIf="userData && !userData?.address?.length" size="small"
          (click)="openModal(createEditAddressComponent, { action: 'add' })">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-list *ngIf="userData && userData?.address?.length">
          <ion-item-sliding class="mb-5 py-1" *ngFor="let address of userData?.address">
            <ion-item detail="true">
              <ion-text>
                {{ address?.house }} {{ address?.street
                }}, {{ address?.country?.name }} {{
                address?.state?.name }}, {{ address?.city?.name }}</ion-text>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                (click)="openModal(createEditAddressComponent, { action: 'edit', address })">Edit</ion-item-option>
              <ion-item-option color="danger">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ng-container *ngSwitchCase="'identity_info'">

      <ion-card class="m-5">
        <ion-segment value="user_info" [(ngModel)]="identity_segment">
          <ion-segment-button value="identity" class="p-1">
            <ion-label>Identity Info</ion-label>
          </ion-segment-button>
          <ion-segment-button value="artisan" class="p-1">
            <ion-label>artisan Info</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-card>

      <ng-container [ngSwitch]="identity_segment">
        <ion-card *ngSwitchCase="'identity'">
          <ion-card-header>
            <ion-card-title>
              Identity Information
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              In accordance with government KYC regulations, we require your identity verification to ensure the
              protection
              of both yourself and our customers.
            </ion-text>

            <ion-button *ngIf="!userData?.identity?.live_image" (click)="takePicture()" expand="full"
              class="mx-auto mt-5 p-3">
              Take a Live Selfie of yourself
              <ion-icon size="large" slot="start" color="light" name="camera-outline"></ion-icon>
            </ion-button>

            <div *ngIf="userData?.identity?.live_image" [ngSwitch]="userData?.identity?.live_image_approved">
              <ion-button *ngSwitchCase="ApprovalStatus.PENDING" fill="outline" expand="block" color="warning"
                class="mt-5">
                <ion-text>Image awaiting approval</ion-text>
                <ion-icon size="large" slot="start" name="reload-circle-outline"></ion-icon>
              </ion-button>

              <ion-button color="danger" *ngSwitchCase="ApprovalStatus.REJECTED" fill="outline" expand="block"
                class="mt-5">
                <ion-text>Image rejected retry</ion-text>
                <ion-icon size="large" slot="start" name="close-outline"></ion-icon>
              </ion-button>

              <ion-button color="success" *ngSwitchCase="ApprovalStatus.APPROVED" fill="outline" expand="block"
                class="mt-5">
                <ion-text>Image Approved</ion-text>
                <ion-icon size="large" slot="start" name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </div>

            <div class="mt-5">
              <div *ngIf="!userData?.identity?.identity">
                <ion-item>
                  <ion-label>Select Identity Type</ion-label>
                  <ion-select label="Select Identity Type" name="identity_type" [(ngModel)]="identity_type">
                    <ion-select-option value="National ID"> National ID </ion-select-option>
                    <ion-select-option value="Drivers License"> Drivers License </ion-select-option>
                    <ion-select-option value="Passport"> Passport </ion-select-option>
                  </ion-select>
                </ion-item>

                <div *ngIf="identity_type">
                  <ion-button expand="block" (click)="openFile(fileId)" fill="outline" color="primary" class="mt-5">
                    <ion-text>Upload your {{ identity_type }}</ion-text>
                    <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                  </ion-button>

                  <input type="file" (change)="uploadFile($event, identity_type, 'identity')" #fileId id="id_upload"
                    class="hidden" accept=".pdf, image/png, image/jpeg">
                  <ion-text class="text-xs" color="primary">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                  </ion-text>
                </div>
              </div>

              <div *ngIf="userData?.identity?.identity" [ngSwitch]="userData?.identity?.identity_approved">
                <ion-button *ngSwitchCase="ApprovalStatus.PENDING" fill="outline" expand="block" color="warning"
                  class="mt-5">
                  <ion-text>Identity awaiting ppproval</ion-text>
                  <ion-icon size="large" slot="start" name="reload-circle-outline"></ion-icon>
                </ion-button>

                <ion-button color="danger" *ngSwitchCase="ApprovalStatus.REJECTED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>Identity rejected retry</ion-text>
                  <ion-icon size="large" slot="start" name="close-outline"></ion-icon>
                </ion-button>

                <ion-button color="success" *ngSwitchCase="ApprovalStatus.APPROVED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>Identity Approved</ion-text>
                  <ion-icon size="large" slot="start" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
              </div>


            </div>

            <div class="mt-5">
              <div *ngIf="!userData?.identity?.residential_address">
                <ion-button expand="block" (click)="openFile(fileAddress)" fill="outline" color="primary" class="mt-5">
                  <ion-text>Upload Residential Proof</ion-text>
                  <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                </ion-button>

                <input type="file" #fileAddress (change)="uploadFile($event, 'Residential Proof', 'address')"
                  id="address_upload" class="hidden" accept=".pdf, image/png, image/jpeg">
                <ion-text class="text-xs" color="primary">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  Kindly upload proof of your residential address, which may include an electricity bill,
                  proof of tenancy, or a bank statement indicating your house address.
                  Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                </ion-text>
              </div>

              <div *ngIf="userData?.identity?.residential_address"
                [ngSwitch]="userData?.identity?.residential_approved">
                <ion-button *ngSwitchCase="ApprovalStatus.PENDING" fill="outline" expand="block" color="warning"
                  class="mt-5">
                  <ion-text>address awaiting approval</ion-text>
                  <ion-icon size="large" slot="start" name="reload-circle-outline"></ion-icon>
                </ion-button>

                <ion-button color="danger" *ngSwitchCase="ApprovalStatus.REJECTED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>address rejected retry</ion-text>
                  <ion-icon size="large" slot="start" name="close-outline"></ion-icon>
                </ion-button>

                <ion-button color="success" *ngSwitchCase="ApprovalStatus.APPROVED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>address approved</ion-text>
                  <ion-icon size="large" slot="start" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card *ngSwitchCase="'artisan'">
          <ion-card-header>
            <ion-card-title>
              Artisan Skill Information & Verification
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="userData?.artisan">
            <ion-list>
              <ion-item class="py-3">
                <ion-text>{{ userData?.artisan?.name }}</ion-text>
              </ion-item>

              <ion-item class="py-3" *ngIf="userData?.artisan?.business_name">
                <ion-text>{{ userData?.artisan?.business_name }}</ion-text>
              </ion-item>

              <ion-item class="py-3">
                <ion-thumbnail>
                  <ion-img [src]="userData?.artisan?.category?.icon"
                    [alt]="'Service Category' + userData?.artisan?.category?.name"></ion-img>
                </ion-thumbnail>
                <ion-text>{{ userData?.artisan?.category?.name }}</ion-text>
              </ion-item>

              <div *ngIf="userData?.artisan?.certificate" [ngSwitch]="userData?.artisan?.certificate_approved">
                <ion-button *ngSwitchCase="ApprovalStatus.PENDING" fill="outline" expand="block" color="warning"
                  class="mt-5">
                  <ion-text>Certificate awaiting approval</ion-text>
                  <ion-icon size="large" slot="start" name="reload-circle-outline"></ion-icon>
                </ion-button>

                <ion-button color="danger" *ngSwitchCase="ApprovalStatus.REJECTED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>Certificate rejected retry</ion-text>
                  <ion-icon size="large" slot="start" name="close-outline"></ion-icon>
                </ion-button>

                <ion-button color="success" *ngSwitchCase="ApprovalStatus.APPROVED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>Certificate Approved</ion-text>
                  <ion-icon size="large" slot="start" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
              </div>

              <div *ngIf="userData?.artisan?.work_id" [ngSwitch]="userData?.artisan?.work_id_approved">
                <ion-button *ngSwitchCase="ApprovalStatus.PENDING" fill="outline" expand="block" color="warning"
                  class="mt-5">
                  <ion-text>Work ID awaiting approval</ion-text>
                  <ion-icon size="large" slot="start" name="reload-circle-outline"></ion-icon>
                </ion-button>

                <ion-button color="danger" *ngSwitchCase="ApprovalStatus.REJECTED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>Work ID rejected retry</ion-text>
                  <ion-icon size="large" slot="start" name="close-outline"></ion-icon>
                </ion-button>

                <ion-button color="success" *ngSwitchCase="ApprovalStatus.APPROVED" fill="outline" expand="block"
                  class="mt-5">
                  <ion-text>Work ID approved</ion-text>
                  <ion-icon size="large" slot="start" name="checkmark-circle-outline"></ion-icon>
                </ion-button>
              </div>

            </ion-list>
          </ion-card-content>
          <ion-card-content *ngIf="!userData?.artisan">
            <ion-text>
              To validate your artisan skills, we will need to collect either your Work ID or Certificate of Work, along
              with proof of your work address.
            </ion-text>

            <form class="mt-5" [formGroup]="artisanForm" (ngSubmit)="onSubmitArtisanIdentity(artisanForm.value)">
              <div>
                <input formControlName="name" type="text" placeholder="Service Name"
                  class="w-full p-3 bg-white text-primary placeholder:text-primary border border-primary rounded-lg">
              </div>

              <div class="mt-5">
                <input formControlName="business_name" type="text" placeholder="Registered Business Name(Optional)"
                  class="w-full p-3 bg-white text-primary placeholder:text-primary border border-primary rounded-lg">
              </div>

              <ion-item class="mt-5">
                <ion-label>Select Service Category</ion-label>
                <ion-select formControlName="category" label="Select Service Category">
                  <ion-select-option [value]="category.id" *ngFor="let category of categories$ | async">{{ category.name
                    }}</ion-select-option>
                </ion-select>
              </ion-item>

              <div>
                <ion-button expand="block" fill="outline" (click)="openFile(fileCert)" color="primary" class="mt-5">
                  <ion-text>artisan Certificate.</ion-text>
                  <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                </ion-button>
                <input type="text" formControlName="certificate" class="hidden">
                <input type="file" #fileCert (change)="uploadFile($event, undefined, 'certificate')" class="hidden"
                  accept=".pdf, image/png, image/jpeg">
                <ion-text class="text-xs" color="primary">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                </ion-text>
              </div>

              <div>
                <ion-button expand="block" fill="outline" (click)="openFile(fileWork)" color="primary" class="mt-5">
                  <ion-text>Work ID Card.</ion-text>
                  <ion-icon size="large" slot="start" name="document-outline"></ion-icon>
                </ion-button>

                <input type="file" #fileWork id="work_id" (change)="uploadFile($event, undefined, 'work_id')"
                  class="hidden" accept=".pdf, image/png, image/jpeg">
                <input type="text" formControlName="work_id" class="hidden">
                <ion-text class="text-xs" color="primary">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  Please ensure that your file is in .pdf, .jpg, or .png format, and its size does not exceed 5MB.
                </ion-text>
              </div>

              <ion-button color="primary" [disabled]="artisanForm.invalid" type="submit" expand="full"
                class="my-5 rounded">
                Save
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
  </ng-container>

</ion-content>