<header class="background fixed">
    <nav class="w-11/12 mt-8 flex justify-between mx-auto">
        <a href="/" class="text-white border border-white p-2 rounded">
            <img src="../../../assets/logo.png" alt="Connhect Logo" class="w-10">
        </a>
        <div class="flex justify-end gap-20 w-10/12">
            <nav class="w-6/12 h-11 border rounded p-3 flex justify-center gap-5 align-middle border-white">
                <a href="/" class="self-center text-white font-bold">HOME</a>
                <a href="#testimonial" class="self-center text-white font-bold">TESTIMONIALS</a>
                <a href="#about-us" class="self-center text-white font-bold">ABOUT US</a>
                <a href="/serivces" class="self-center text-white font-bold">SERVICES</a>
                <a href="/contact" class="self-center text-white font-bold">CONTACT</a>
            </nav>
            <a routerLink="/login" class="text-white w-28 text-center border border-white p-2 rounded">LOGIN</a>
        </div>
    </nav>
    <div class="w-6/12 mx-auto mt-52 flex flex-col justify-center">
        <h1 class="text-white text-3xl text-center">Simplify Your Life with Hiserfice</h1>
        <p class="text-center mx-auto text-white mt-8 relative">Are you tired of dealing with endless service providers
            for
            your daily needs? Experience the ultimate convenience and excellence with <strong>Connhect!</strong> Our
            one-stop service
            store app is here to streamline your life, making essential services easily accessible with just a few
            taps.</p>

        <button class="mx-auto  mt-5 text-white border border-white p-3 rounded">GET STARTED</button>
    </div>
</header>