<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom rounded-tl-2xl rounded-tr-2xl ion-padding">
    <ion-tab-button tab="explore" class="button">
      <ion-icon name="search-outline" class="border border-[#12427A] rounded-[50%] w-6 p-1"></ion-icon>
      Explore
    </ion-tab-button>
    <!-- <ion-tab-button tab="wishlists" class="button">
      <ion-icon name="heart-outline" class="border border-[#12427A] rounded-[50%] w-6 p-1"></ion-icon>
      Wishlists
    </ion-tab-button> -->
    <ion-tab-button tab="auth" class="button">
      <ion-icon name="person-outline" class="border border-[#12427A] rounded-[50%] w-6 p-1"></ion-icon>
      Log-in
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>