<footer class="bg-[#081D47] flex flex-col lg:flex-col md:flex-col sm:flex-col justify-between p-8">
  <div class="w-full grid grid-cols-2 grid-rows-2 gap-5 lg:flex lg:justify-between">
    <div>
      <h3 class="text-[#7BA1E9]">Clients</h3>
      <ul class="text-white">
        <li class="mt-3"><a href="/">How to hire</a></li>
        <li class="mt-3"><a href="/">Talent Marketplace</a></li>
        <li class="mt-3"><a href="/">Contract to Hire</a></li>
        <li class="mt-3"><a href="/">Project Catalog</a></li>
        <li class="mt-3"><a href="/">Hire an Agency</a></li>
        <li class="mt-3"><a href="/">Hire anywhere</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-[#7BA1E9]">Talent</h3>
      <ul class="text-white">
        <li class="mt-3"><a href="/">Looking for a job?</a></li>
        <li class="mt-3"><a href="/">Freelance Jobs</a></li>
        <li class="mt-3"><a href="/">Contracts</a></li>
        <li class="mt-3"><a href="/">Project Catalog</a></li>
        <li class="mt-3"><a href="/">Agency</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-[#7BA1E9]">Resources</h3>
      <ul class="text-white">
        <li class="mt-3"><a href="/">Help and Support</a></li>
        <li class="mt-3"><a href="/">Success Stories</a></li>
        <li class="mt-3"><a href="/">Community</a></li>
        <li class="mt-3"><a href="/">Reviews</a></li>
        <li class="mt-3"><a href="/">Blog</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-[#7BA1E9]">Craftiity</h3>
      <ul class="text-white">
        <li class="mt-3"><a href="/">About Us</a></li>
        <li class="mt-3"><a href="/">Leadership</a></li>
        <li class="mt-3"><a href="/">Career</a></li>
        <li class="mt-3"><a href="/">Our Impact</a></li>
        <li class="mt-3"><a href="/">Contact Us</a></li>
        <li class="mt-3"><a href="/">Trust, Safety & Security</a></li>
      </ul>
    </div>
  </div>
  <div class="mt-8 flex flex-col lg:flex-row md:flex-row sm:flex-row justify-between">
    <div class="w-full flex justify-start gap-3 align-middle">
      <h4 class="text-[#7BA1E9] mt-3">Download our Mobile App</h4>
      <ul class="flex gap-2 align-middle">
        <li>
          <a href="/" target="_blank">
            <img src="assets/svgs/android.svg" class="w-8 h-8" alt="Android Logo">
          </a>
        </li>
        <li>
          <a href="/" target="_blank">
            <img src="assets/svgs/apple.svg" class="w-8 h-8" alt="Apple Logo">
          </a>
        </li>
      </ul>
    </div>
    <div class="w-full flex gap-3 align-middle justify-end">
      <h4 class="text-[#7BA1E9] mt-3">Follow Us</h4>
      <ul class="flex gap-2 align-middle justify-end">
        <li>
          <a href="https://x.com/craftimity_" target="_blank">
            <img src="assets/svgs/TwitterX.svg" class="w-8 h-8" alt="Twitter(X)">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/craftimity/" target="_blank">
            <img src="assets/svgs/Instagram.svg" class="w-8 h-8" alt="Instagram">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/craftimity" target="_blank">
            <img src="assets/svgs/LinkedIn.svg" class="w-8 h-8" alt="LinkedIn">
          </a>
        </li>
        <li>
          <a href="https://web.facebook.com/craftimity" target="_blank">
            <img src="assets/svgs/Facebook.svg" class="w-8 h-8" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://youtube.com/craftimity_" target="_blank">
            <img src="assets/svgs/YouTube.svg" class="w-8 h-8" alt="YouTube">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full flex flex-col lg:flex-row md:flex-row sm:flex-row justify-between mt-5">
    <ul
      class="text-white flex flex-col lg:flex-row md:flex-row sm:flex-row justify-between align-middle gap-3 lg:gap-8 md:gap-8 sm:gap-8">
      <li>
        <a href="/">Accessibility</a>
      </li>
      <li>
        <a href="/">Terms of Service</a>
      </li>
      <li>
        <a href="/">Privacy Policy</a>
      </li>
    </ul>
    <div class="mt-5 lg:mt-0 md:mt-0 sm:mt-0">
      <p class="text-white">&copy; Copywrite {{ date | date:'YYYY'}} with <span class="text-red-600">&hearts;</span>
        from <a href="/">Craftimity</a></p>
    </div>
  </div>
</footer>