<div class="w-full p-5">
  <section class="p-5 mt-8">
    <h2 class="text-center text-primary">Our Missions</h2>
    <section class="flex lg:flex-row flex-col gap-16 p-8 justify-center align-middle mx-auto lg:mt-5">
      <p class="lg:text-xl  text-gray-500 order-2 lg:order-1 lg:w-[35%] leading-6">
        At Craftiity, our mission is to redefine excellence in services, empowering individuals and organizations with
        unparalleled support and innovative solutions. We are committed to delivering seamless, personalized, and
        results-driven experiences, setting the standard for professionalism, integrity, and efficiency in the agent
        service industry.
      </p>
      <img src="assets/imgs/mission.png" class="w-[380px] order-1 lg:order-2" alt="Our Missions">
    </section>
  </section>

  <section class="my-8">
    <h1 class="text-center text-primary text-[4rem]">Why Choose Us</h1>
    <section class="mx-auto mt-16 flex flex-col lg:flex-row justify-center align-middle gap-3">
      <div class="shadow-lg p-4 w-11/12  mx-auto lg:w-3/12">
        <h3 class="text-[4rem] text-primary font-bold">Sourcing Artisan Talent</h3>
        <p class="text-sm text-gray-600">We aid individuals and organizations in building a vibrant community of
          external
          talents, ensuring smooth integration into teams. Our goal is to eliminate barriers between internal and
          external
          talent, fostering collaboration and synergy for both individuals and organizations.</p>
        <button class="rounded-full mt-5 mb-5 lg:mb-0 p-3 w-52 mx-auto outline-primary outline text-primary">Contact
          Us</button>
      </div>

      <div class="shadow-lg p-4 w-11/12 mx-auto lg:w-3/12">
        <h3 class="text-[4rem] text-primary font-bold">Comprehensive Project Supervision</h3>
        <p class="text-sm text-gray-600">We diligently oversee projects, ensuring thorough follow-up on both the artisan
          and client sides. Our hands-on approach distinguishes us, standing by you every step of the way. Let us handle
          it for a seamless project experience.</p>

        <button class="rounded-full mt-5 mb-5 lg:mb-0 p-3 w-52 mx-auto outline-primary outline text-primary">Contact
          Us</button>
      </div>

      <div class="shadow-lg p-4 w-11/12 mx-auto lg:w-3/12">
        <h3 class="text-[4rem] text-primary font-bold">Efficient Payment Management</h3>
        <p class="text-sm text-gray-600">We meticulously oversee external talent projects using innovative digital
          solutions, ensuring seamless execution. Committed to excellence, our dedication ensures the successful
          completion of every project, meeting and exceeding expectations for a superior outcome.</p>

        <button class="rounded-full mt-5 mb-5 lg:mb-0 p-3 w-52 mx-auto outline-primary outline text-primary">Contact
          Us</button>
      </div>
    </section>
  </section>
  <section class="text-center w-[65%] mx-auto">
    <h1 class="text-3xl">About Craftimity</h1>

    <h3 class="text-xl">Your Online Haven for Craftsmanship!</h3>

    <p class="text-sm lg:text-lg">
      At Craftimity, we celebrate the artistry and skill of craftsmen from around the world. Our platform is a vibrant
      marketplace where creativity meets craftsmanship, offering a curated collection of handmade wonders that tell
      unique
      stories and showcase exceptional talent.
    </p>

    <div class="mb-5">
      <h4>Discover the Beauty of Handmade:</h4>
      <ul class="flex flex-col gap-5 text-sm lg:text-lg">
        <li>
          🎨 Artisanal Treasures: Immerse yourself in a world of carefully curated, one-of-a-kind creations. From
          hand-carved
          sculptures to intricately woven textiles, each piece is a testament to the dedication and passion of skilled
          artisans.
        </li>

        <li> 🛍️ Unique Marketplace: Explore a diverse range of craftmen, from traditional to contemporary, all
          conveniently
          brought together in one place. Our marketplace is your go-to destination for finding that perfect, unique
          service that
          adds a touch of authenticity to your life.</li>

        <li>
          🤝 Supporting Artisans: By choosing Craftimity, you're not just requiring a service men and women; you're
          supporting
          the livelihoods of talented craftsmen. We believe in fair trade and are committed to creating sustainable
          partnerships
          that benefit both creators and appreciators of craftsmanship.
        </li>

        <li>
          📚 Crafting Community: Join a community of like-minded individuals who share a passion for craftsmanship.
          Engage
          in
          discussions, share your projects, and connect with artisans who inspire you. Craftimity is more than a
          marketplace;
          it's a gathering place for the craft-conscious.
        </li>

        <li>
          🌐 Global Inspiration: Experience the richness of global craftsmanship without leaving your home. Our platform
          brings
          together artisans from various corners of the world, allowing you to explore and appreciate the diversity of
          traditional and contemporary craft techniques.
        </li>

        <li> Whether you're a seasoned collector, a DIY enthusiast, or someone seeking the perfect handmade gift,
          Craftimity is
          your destination for embracing and celebrating the art of craftsmanship. Elevate your surroundings with the
          beauty of
          handmade creations - start your craft journey with us today!</li>
      </ul>
    </div>
    <p class="mt-5">Elevate your world with the artistry of craftsmanship.</p>

    <button class="rounded-full mt-5 mb-5 lg:mb-0 p-3 w-52 mx-auto outline-primary outline text-primary">Contact
      Us</button>
  </section>
</div>