<ion-header>
  <ion-toolbar>
    <ion-title>{{ this.data.action | titlecase }} a Service</ion-title>
    <ion-buttons>
      <ion-button (click)="closeModal('close')">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit(serviceForm.value)">
    <div class="w-full my-5">
      <ion-item>
        <ion-input label="Name" type="text" formControlName="name" class="w-full bg-white text-primary"></ion-input>
      </ion-item>
    </div>

    <div class="w-full my-5">
      <ion-item>
        <ion-input label="Price" type="number" formControlName="price" class="w-full bg-white text-primary"></ion-input>
      </ion-item>
    </div>


    <div class="w-full my-5">
      <ion-item>
        <ion-textarea label="Description" type="text" formControlName="description"
          class="w-full bg-white text-primary"></ion-textarea>
      </ion-item>
    </div>


    <div class="w-full flex gap-2 ">
      <ion-checkbox formControlName="negotiable"></ion-checkbox>
      <p class="text-xs text-[#12427A] mt-2">Is it flexible?</p>
    </div>



    <ion-button color="primary" type="submit" expand="block" class="my-5 rounded">
      Save
    </ion-button>
  </form>
</ion-content>