// ion-content {
//   --background: #12427A;
// }
.background {
  padding: 0;
  margin: 0;
  background-image: url('../../assets/imgs/app-bg.webp');
  background-repeat: no-repeat;
  // background-position: ;
  // object-fit: fill;
  background-size: cover;
}
