<div class="w-full h-screen background flex flex-col gap-10 justify-center align-middle ion-page">
  <div>
    <h1 class="text-center font-bold text-3xl">Welcome Craftimity</h1>
    <p class="text-center font-medium text-lg w-56 mx-auto">Please select the service you will like to continue to.</p>
  </div>
  <div class="flex justify-center self-center gap-5">
    <div routerLink="/craftimity/page" class="w-[148px] h-[125px] border-2 border-[#12427A] cursor-pointer rounded">
      <ion-img src="../../assets/imgs/craftimity-blue.png" class="w-16 mx-auto mt-8"></ion-img>
      <h2 class="text-xl text-white text-center font-bold">Craftimity</h2>
    </div>
    <div routerLink="/craftivity" class="w-[148px] h-[125px] border-2 border-[#12427A] cursor-pointer rounded">
      <ion-img src="../../assets/imgs/craftivity-blue.png" class="w-16 mx-auto mt-8"></ion-img>
      <h2 class="text-xl text-center font-bold text-white">Craftivity</h2>
    </div>
  </div>
</div>