<div class="w-full background h-screen flex flex-col justify-center align-middle ion-page">
  <!-- <h1 class="text-center text-white font-bold text-3xl">Welcome</h1>
  <p class="text-center text-white font-medium text-lg w-56 mx-auto">
    Please select the service you will like to
    continue to.
  </p> -->

  <ion-card class="bg-[#12427A] p-5 text-center">
    <ion-img src="../../assets/svg/craftimity-white.svg" class="w-16 mx-auto mt-3 mb-3"></ion-img>
    <h1 class="text-center text-white font-bold text-2xl">Craftimity</h1>
    <p class="text-white text-left my-2 text-sm">Craftimity is your go-to platform for all things craftsmanship and home
      improvement.
      We
      connect skilled artisans,
      tradespeople, and DIY enthusiasts with homeowners and businesses in need of their services.
      and more.</p>
    <ion-button (click)="goToCraftimity()" class="mx-auto mt-5 text-white" fill="outline">
      Continue <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card class="bg-[#12427A] p-5 text-center">
    <ion-img src="../../assets/svg/craftivity-white.svg" class="w-16 mx-auto mt-3 mb-3"></ion-img>
    <h1 class="text-center text-white font-bold text-2xl">Craftivity</h1>
    <p class="text-white text-left my-2 text-sm">
      Welcome to Craftivity, the dedicated platform designed exclusively for craftsmen, artisans, and skilled
      professionals like you. Craftivity is the other side of Craftimity, tailored to meet the unique needs and
      aspirations of talented individuals who are passionate about their craft.
    </p>
    <ion-button (click)="goToCraftivity()" class="mx-auto mt-5 text-white" fill="outline">
      Continue <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-card>
</div>