<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account Information</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="user_info" class="p-3" [(ngModel)]="segment">
    <ion-segment-button value="user_info" class="p-1">
      <ion-label>User Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="location_info" class="p-1">
      <ion-label>Location Info</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container [ngSwitch]="segment">
    <ion-card *ngSwitchCase="'user_info'">
      <ion-card-header>
        <ion-card-subtitle class="flex justify-end">
          <ion-fab>
            <ion-fab-button size="small" *ngIf="!edit" (click)="toogleEdit()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" *ngIf="edit" color="danger" (click)="toogleEdit()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="w-28 grid mx-auto" *ngIf="!editImage">
          <ion-avatar class="mx-auto w-28 h-28 mt-5">
            <ion-img *ngIf="userData?.profile_image" [src]="userData.profile_image"></ion-img>
            <ion-img *ngIf="!userData?.profile_image"
              src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
          </ion-avatar>
          <ion-fab>
            <ion-fab-button size="small" *ngIf="!editImage" (click)="toogleEditImage()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>

        <form [formGroup]="imageForm" *ngIf="editImage">
          <div>
            <div *ngIf="imageChangedEvent">

              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="1 / 1" [resizeToWidth]="256"
                [cropperMinWidth]="100" [onlyScaleDown]="true" [roundCropper]="true" [canvasRotation]="canvasRotation"
                [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png"
                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)" (loadImageFailed)="loadImageFail()"></image-cropper>


              <div>
                <ion-button size="small" color="danger" (click)="deleteImage()">
                  <ion-icon slot="start" name="trash-outline"></ion-icon>
                  Delete
                </ion-button>
                <ion-button size="small" color="success" (click)="submitImage()">
                  <ion-icon (click)="deleteImage()" slot="start" name="cloud-upload-outline"></ion-icon>
                  Upload
                </ion-button>
              </div>
            </div>

            <div *ngIf="!imageChangedEvent" class="mt-5 flex justify-center">
              <div class="w-28 grid mx-auto">
                <ion-avatar class="mx-auto w-28 h-28 mt-5">
                  <ion-img *ngIf="userData?.profile_image" [src]="userData.profile_image"></ion-img>
                  <ion-img *ngIf="!userData?.profile_image"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
                </ion-avatar>
                <ion-fab>
                  <ion-fab-button size="small" (click)="openImage(imageFile)" *ngIf="editImage">
                    <ion-icon name="image-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button size="small" (click)="toogleEditImage()" *ngIf="editImage">
                    <ion-icon name="close-outline"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </div>
              <ion-input type="file" #imageFile id="image" class="hidden" accept="image/*" formControlName="url"
                (change)="uploadImage($event)"></ion-input>
            </div>
          </div>
        </form>

        <ion-list *ngIf="!edit">
          <ion-item class="py-3">
            {{ userData.first_name || 'First Name'}}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.first_name">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3">
            {{ userData.last_name || 'Last Name'}}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.last_name">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3">
            <ion-text>
              {{ userData.email || 'Required'}}
            </ion-text>
            <ion-chip slot="end" color="warning" *ngIf="userData.email && !userData.email_verified">
              <ion-icon name="alert-outline"></ion-icon>
              verify
            </ion-chip>

            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.email">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3">
            {{ userData.phone_number || 'Phone Number' }}
            <ion-chip slot="end" color="warning" *ngIf="userData.phone_number && !userData.phone_verified">
              <ion-icon name="alert-outline"></ion-icon>
              Verify
            </ion-chip>
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.phone_number">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item class="py-3" lines="none">
            {{ userData.birthdate || 'Birthdate' }}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>
        </ion-list>
        <form *ngIf="edit" [formGroup]="form" (ngSubmit)="onSubmitUserInfo(form.value)">
          <div class="w-full my-5">
            <ion-item>
              <ion-input type="text" name="first_name" formControlName="first_name"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="First Name"></ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5">
            <ion-item>
              <ion-input type="text" name="last_name" formControlName="last_name"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="Last Name"></ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5" *ngIf="!userData.email">
            <ion-item>
              <ion-input type="text" name="email" formControlName="last_name"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="Email"></ion-input>
            </ion-item>
          </div>

          <div class="w-full mb-5" *ngIf="!userData.phone_number">
            <ion-item formGroupName="phone">
              <ion-select class="w-28 px-1 bg-white text-primary" formControlName="code" placeholder="Code">
                <ng-container *ngFor="let country of countries$ | async">
                  <ion-select-option [value]="country.phone_code">
                    {{ country.name }} - {{ country.phone_code }}
                  </ion-select-option>
                </ng-container>
              </ion-select>
              <ion-input type="text" placeholder="Phone number ({{ phoneDigitSamplePlaceholder }})"
                formControlName="number" class="w-full p-3 bg-white text-primary placeholder:text-xs">
              </ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5">
            <ion-item>
              <ion-input type="date" name="birthdate" formControlName="birthdate"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="Birthdate"></ion-input>
            </ion-item>
          </div>

          <ion-button color="primary" type="submit" expand="full" class="my-5 rounded">
            Save
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngSwitchCase="'location_info'">
      <ion-card-header>
        <ion-card-subtitle class="flex justify-end">
          <ion-fab>
            <ion-fab-button size="small" *ngIf="!edit" (click)="toogleLocationEdit()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" *ngIf="edit" color="danger" (click)="toogleLocationEdit()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="mt-12">
        <ion-list *ngIf="!editLocation">
          <ion-item>
            {{ userData.address?.floor || 'Floor'}}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.address?.house">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>
          <ion-item>
            {{ userData.address?.house || 'House'}}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.address?.house">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item>
            {{ userData.address?.street || 'Street'}}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.address?.street">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>


          <ion-item>
            {{ userData.address?.country || 'Country'}}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.address?.country">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item>
            {{ userData.address?.state || 'State'}}
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.address?.state">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item>
            <ion-text>
              {{ userData.address?.city || 'City'}}
            </ion-text>
            <ion-chip slot="end" color="warning" *ngIf="userData?.address?.city">
              <ion-icon name="alert-outline"></ion-icon>
              verify
            </ion-chip>

            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData?.address?.city">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>

          <ion-item>
            {{ userData.address || 'Address' }}
            <ion-button slot="end" color="warning" *ngIf="userData.address && !userData.address">
              <ion-icon name="alert-circle-outline"></ion-icon>
              Verify
            </ion-button>
            <ion-chip (click)="toogleEdit()" color="warning" slot="end" *ngIf="!userData.address">
              required
              <ion-icon name="alert-circle-outline"></ion-icon>
            </ion-chip>
          </ion-item>
        </ion-list>
        <form *ngIf="editLocation" [formGroup]="locationForm">

          <div class="w-full my-5">
            <ion-item>
              <ion-input type="number" formControlName="house"
                class="w-full p-2 bg-white text-primary placeholder:text-primary"
                placeholder="House number"></ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5">
            <ion-item>
              <ion-input type="text" formControlName="street"
                class="w-full p-2 bg-white text-primary placeholder:text-primary" placeholder="Street name"></ion-input>
            </ion-item>
          </div>

          <div class="w-full my-5">
            <ion-select formControlName="country" class="w-full px-1 text-xs bg-white text-primary"
              label="Select Country" placeholder="Select country" (ionChange)="onSelectCountry($event)">
              <ng-container *ngFor="let country of countries$ | async">
                <ion-select-option [value]="country.id">{{ country.name }}</ion-select-option>
              </ng-container>
            </ion-select>
          </div>

          <div class="w-full my-5">
            <ion-select formControlName="state" class="w-full text-xs px-1 bg-white text-primary" label="Select State"
              placeholder="Select country" (ionChange)="onSelectState($event)">
              <ng-container *ngFor="let state of states$ | async">
                <ion-select-option [value]="state.id">{{ state.name }}</ion-select-option>
              </ng-container>
            </ion-select>
          </div>

          <div class="w-full my-5">
            <ion-select formControlName="city" class="w-full px-1 text-xs bg-white text-primary" label="Select City"
              placeholder="Select country">
              <ng-container *ngFor="let city of cities$ | async">
                <ion-select-option [value]="city.id">{{ city.name }}</ion-select-option>
              </ng-container>
            </ion-select>
          </div>

          <ion-button color="primary" type="submit" expand="full" class="my-5 rounded">
            Save
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>