<ion-content>
  <section class="container" *ngIf="step === 'verify'">
    <!-- <ion-img src="assets/svg/craftimity-blue.svg" class="w-16 mx-auto my-20"></ion-img> -->
    <section class="border border-[#12427A] w-[90%] rounded-2xl mx-auto my-20">
      <div class="p-8 border-b border-[#12427A]">
        <h1 *ngIf="type === 'phone'" class="text-[#12427A] text-center">Confirm Phone Number</h1>
        <h1 *ngIf="type === 'email'" class="text-[#12427A] text-center">Confirm Email Address</h1>
      </div>

      <div class="p-8">
        <h2 *ngIf="type === 'phone'" class="mb-4 text-xs text-[#12427A]">Enter the code we sent over SMS to
        </h2>
        <h2 *ngIf="type === 'email'" class="mb-4 text-xs text-[#12427A]">Enter the code we sent over Email to
        </h2>
        <form [formGroup]="form" (ngSubmit)="verifyOtp(formData)">
          <div>
            <input placeholder="----------------" formControlName="code"
              class="w-full p-3 bg-white text-center text-[#12427A] border border-[#12427A] rounded-lg">
            <div *ngIf="formControl['code'].errors" class="mt-2">
              <p *ngIf="formControl['code'].dirty && formControl['code'].hasError('required')"
                class="text-red-500 text-xs mt-1">Please
                enter verification code to
                procced</p>
              <p class="text-red-500 text-xs mt-1"
                *ngIf="formControl['code'].dirty && (formControl['code'].hasError('maxlength') || formControl['code'].hasError('minlength'))">
                Code must be 6 digit long
              </p>
            </div>
          </div>
          <div class="flex justify-between align-middle">
            <a class="text-[#12427A] underline self-center" href="#">More Options</a>
            <ion-button type="submit" expand="medium" [disabled]="form.invalid"
              class="button-custom mt-5">Continue</ion-button>
          </div>
        </form>
      </div>
    </section>
  </section>
  <section class="container" *ngIf="step === 'change'">
    <!-- <ion-img src="assets/svg/craftimity-blue.svg" class="w-16 mx-auto my-20"></ion-img> -->
    <section class="border border-[#12427A] w-[90%] rounded-2xl mx-auto my-20">
      <div class="p-8 border-b border-[#12427A]">
        <h1 class="text-[#12427A] text-center">Change Password</h1>
      </div>

      <div class="p-8">
        <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword(changePasswordFormData)">
          <div class="w-full my-5">
            <div class="relative mb-2">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                class="w-full p-2 bg-white text-[#12427A] placeholder:text-[#12427A] border border-[#12427A] rounded-lg"
                label="Select Country" placeholder="Password">
              <span (click)="showPassword = !showPassword"
                class="text-sm text-[#12427A] mb-2 absolute top-3 right-3 cursor-pointer"
                [ngClass]="showPassword ? 'line-through' : 'underline'">Show</span>
            </div>
          </div>

          <div class="w-full my-3">
            <div class="relative">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="cmPassword"
                class="w-full p-2 bg-white text-[#12427A] placeholder:text-[#12427A] border border-[#12427A] rounded-lg"
                label="Select Country" placeholder="Confirm Password">
              <span (click)="showPassword = !showPassword"
                class="text-sm text-[#12427A] mb-2 absolute top-3 right-3 cursor-pointer"
                [ngClass]="showPassword ? 'line-through' : 'underline'">Show</span>
            </div>
          </div>
          <div>
            <p class="text-red-500 text-xs"
              *ngIf="changePasswordForm.get('cmPassword')?.dirty && changePasswordFormControl['cmPassword'].hasError('required')">
              Password confirmation is required!
            </p>
            <p class="text-red-500 text-xs"
              *ngIf="changePasswordForm.get('cmPassword')?.dirty && changePasswordFormControl['cmPassword'].hasError('minlength')">
              Password length should be great or equal to 8 characters!
            </p>
            <p class="text-red-500 text-xs"
              *ngIf="changePasswordForm.get('cmPassword')?.dirty && changePasswordFormControl['cmPassword'].hasError('not_matching')">
              The password doesn't match!
            </p>
          </div>


          <div class="flex justify-between align-middle">
            <a class="text-[#12427A] underline self-center" routerLink="/pages/login">Login</a>
            <ion-button type="submit" expand="medium" [disabled]="changePasswordForm.invalid"
              class="button-custom mt-5">Reset</ion-button>
          </div>
        </form>
      </div>
    </section>
  </section>

  <section class="container" *ngIf="step === 'forgot'">
    <!-- <ion-img src="assets/svg/craftimity-blue.svg" class="w-16 mx-auto my-20"></ion-img> -->
    <section class="border border-[#12427A] w-[90%] text-center rounded-2xl mx-auto mt-56">
      <div class="p-8 border-b border-[#12427A]">
        <h1 class="text-[#12427A] text-center">Forgot Password</h1>
      </div>

      <div class="p-8">
        <div [ngSwitch]="type" class="mb-5">
          <ng-container *ngSwitchCase="'email'" [ngTemplateOutlet]="email_form"></ng-container>
          <ng-container *ngSwitchCase="'phone'" [ngTemplateOutlet]="phone_form"></ng-container>
        </div>
        <a class="text-[#12427A] underline text-center" routerLink="/pages/login">Login</a>
      </div>
    </section>
  </section>


  <ng-template #email_form>
    <form [formGroup]="emailLoginForm" (ngSubmit)="onSubmitForgotPassword(emailLoginFormData)">
      <ion-input placeholder="Email" formControlName="email" class="custom text-left"></ion-input>

      <ion-button expand="block" [disabled]="emailLoginForm.invalid" type="submit"
        class="button-custom mt-5">Submit</ion-button>
      <!-- <div class="flex gap-4 justify-between align-middle relative">
        <span class="border-b w-full border-[#12427A]"></span>
        <p class="text-[#12427A]">or</p>
        <span class="border-b w-full border-[#12427A]"></span>
      </div> -->
      <!-- <ion-button type="button" expand="block" class="button-custom-2 mt-5" (click)="type = 'phone'">Continue with
        Phone</ion-button> -->
    </form>
  </ng-template>

  <ng-template #phone_form>
    <form [formGroup]="phoneLoginForm" (ngSubmit)="onSubmitForgotPassword(phoneLoginFormData)">
      <ion-select formControlName="code"
        class="w-full px-1 bg-white text-[#12427A] border border-[#12427A] rounded-tl-lg rounded-tr-lg"
        label="Select Country" placeholder="Select country code">
        <ng-container *ngFor="let country of countries$ | async">
          <ion-select-option [value]="country.phone_code">{{ country.name }}({{ country.phone_code
            }})</ion-select-option>
        </ng-container>
      </ion-select>
      <input placeholder="Phone number" formControlName="phone"
        class="w-full p-3 bg-white text-[#12427A] border border-[#12427A] border-t-0 rounded-bl-lg rounded-br-lg">

      <ion-button type="submit" [disabled]="phoneLoginForm.invalid" expand="block"
        class="button-custom mt-5">Submit</ion-button>
      <!-- <div class="flex gap-4 justify-between align-middle relative">
        <span class="border-b w-full border-[#12427A]"></span>
        <p class="text-[#12427A]">or</p>
        <span class="border-b w-full border-[#12427A]"></span>
      </div> -->
      <!-- <ion-button type="button" expand="block" class="button-custom-2 mt-5" (click)="type = 'email'">Continue with
        Email</ion-button> -->
    </form>
  </ng-template>
</ion-content>