<h3 style="text-align: inherit">Dear {{full_name}}</h3>
<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    We are thrilled to welcome you to Craftimity, your ultimate destination for
    all things craftsmanship and home improvement.
  </span></p>
<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Congratulations on successfully onboarding with us! 🎉
  </span></p>

<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Now that you're part of our Craftimity community, you can look forward to a
    world of exciting opportunities. Whether you're a skilled craftsman ready to
    offer your expertise or a customer seeking top-notch services, Craftimity is
    here to connect you with the best professionals and craftspersons in your
    area.
  </span></p>

<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Here's what you can expect from your Craftimity journey:
  </span></p>
<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    <ol>
      <li
        style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
      ><span style="font-style: bold;">Access to Skilled Professionals:</span>
        As a customer, you have a world of talented craftsmen and artisans at
        your fingertips, ready to bring your ideas to life. For our service
        providers, you gain access to a pool of potential clients seeking your
        skills.</li>
      <li
        style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
      >
        <span style="font-style: bold;">Easy Booking and Management:</span>
        Seamlessly browse, book, and manage your projects with our user-friendly
        platform. We've designed it to make your experience as smooth as
        possible.</li>
      <li
        style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
      ><span style="font-style: bold;">Quality Craftsmanship:</span>At
        Craftimity, we prioritize quality. Our team is committed to ensuring
        that you receive the best services and results.</li>
      <li
        style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
      ><span style="font-style: bold;">Tips, Trends, and Inspiration:</span>
        Stay updated with the latest trends and expert tips in the world of
        craftsmanship and home improvement. Craft your vision with confidence.</li>
    </ol>
  </span></p>

<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Thank you for choosing Craftimity. We're excited to have you on board, and
    we can't wait to see the amazing crafts and projects you'll create with us.
  </span></p>
<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    If you have any questions or need assistance, don't hesitate to reach out to
    our support team. We're here to make your Craftimity experience exceptional.
  </span></p>
<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Let's get crafty, innovative, and creative together! 🪚✨
  </span></p>
<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Welcome to the Craftimity family!
  </span></p>

<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Best Regards,
  </span></p>

<p style="text-align: inherit"><span
    style="color: #222222; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: normal; orphans: 2; text-align: -webkit-left; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space-collapse: collapse; text-wrap: wrap; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline; font-family: arial, helvetica, sans-serif; font-size: 18px"
  >
    Abraham James<br />
    Craftimity Team
  </span></p>