<ion-tabs class="">
  <ion-tab-bar color="primary" slot="bottom" class="custom rounded-tl-2xl rounded-tr-2xl ion-padding">
    <ion-tab-button tab="home" class="button">
      <ion-icon color="light" name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="orders" class="button">
      <ion-icon color="light" name="list"></ion-icon>
      Orders
    </ion-tab-button>
    <ion-tab-button tab="services" class="button">
      <ion-icon color="light" name="server"></ion-icon>
      Services
    </ion-tab-button>
    <ion-tab-button tab="messages" class="button">
      <ion-icon color="light" name="mail-open"></ion-icon>
      Messages
    </ion-tab-button>
    <ion-tab-button tab="more" class="button">
      <ion-icon color="light" name="ellipsis-horizontal"></ion-icon>
      More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>