<div *ngIf="openLoginWithEmail"
    class="lg:w-[512px] lg:mt-16 mb-16 mx-auto rounded-lg lg:border-[0.4pt] lg:border-gray-500 xl:border-[0.4pt] xl:border-gray-500 md:border-[0.4pt] md:border-gray-500">
    <section>
        <section class="w-full p-5 text-center border-b border-b-[#878484]">
            <span class="text-center font-semibold">Log in or Sign up</span>
        </section>

        <section class="p-8">
            <p class="text-lg mb-8">Welcome to Conhect</p>
            <div class="w-full mb-5">
                <input class="w-full p-3 border-[0.4pt] rounded-lg border-[#878484]" type="text" placeholder="Email">
            </div>

            <div class="w-full mb-5">
                <button type="submit" class="bg-[#E78614] w-full p-2 rounded-lg text-lg text-white">Continue</button>
            </div>

            <div class="w-full mb-5">
                <button type="button"
                    class="border-[0.3pt] text-lg border-[#878484] w-full p-2 rounded-lg flex gap-5 justify-center text-[#878484]">
                    <i class="fa-brands fa-google text-red-600"></i>
                    <span>Continue with Google</span>
                </button>
            </div>

            <div class="w-full mb-5">
                <button type="button"
                    class="border-[0.3pt] border-[#878484] w-full p-2 flex gap-5 justify-center rounded-lg text-[#878484]">
                    <i class="fa-brands fa-facebook text-lg text-blue-700"></i>
                    <span class="text-lg">Continue with Facebook</span>
                </button>
            </div>

            <div class="w-full mb-5">
                <button type="button" (click)="toogle()"
                    class="border-[0.3pt] border-[#878484] w-full p-2 flex gap-5 justify-center rounded-lg text-[#878484]">
                    <i class="fa-solid fa-phone text-lg"></i>
                    <span class="text-lg">Continue with Phone</span>
                </button>
            </div>
        </section>
    </section>
</div>

<div *ngIf="openLoginWithPhone"
    class="lg:w-[512px] lg:mt-12 mx-auto rounded-lg lg:border-[0.4pt] lg:border-gray-500 xl:border-[0.4pt] xl:border-gray-500 md:border-[0.4pt] md:border-gray-500 overflow-y-scroll mb-16">
    <section class="mb-16">
        <section class="w-full p-5 text-center border-b border-b-[#878484]">
            <span class="text-center font-semibold">Log in or Sign up</span>
        </section>

        <section class="p-8">
            <h2 class="text-lg text-gray-800">Welcome to Conhect</h2>
            <div class="w-full">
                <select style="border-top-left-radius: 0.5em; border-top-right-radius: 0.5em;"
                    class="w-full p-3 border-[0.4pt] border-[#878484] focus:outline-none" type="text">
                    <option value="+234">Nigeria (+234)</option>
                    <option value="+234">Ghana (+233)</option>
                </select>
            </div>
            <div class="w-full mb-5">
                <input style="border-bottom-left-radius: 0.5em; border-bottom-right-radius: 0.5em;"
                    class="w-full p-3 border-[0.4pt] border-[#878484] mb-3 focus:outline-none" type="text"
                    placeholder="Email">
                <p class="text-gray-500 lg:w-[85%] text-xs lg:text-sm">We'll call or text you to confirm your
                    number.
                    Standard message and
                    data rates
                    apply. <a href="/" class="underline">Privacy
                        Policy</a></p>
            </div>

            <div class="w-full mb-5">
                <button type="submit" class="bg-[#E78614] w-full p-2 text-lg rounded-lg text-white">Continue</button>
            </div>

            <div class="w-full mb-5">
                <button type="button"
                    class="border-[0.3pt] border-[#878484] w-full p-2 rounded-lg flex gap-5 justify-center text-[#878484]">
                    <i class="fa-brands fa-google text-lg"></i>
                    <span class="text-lg">Continue with Google</span>
                </button>
            </div>

            <div class="w-full mb-5">
                <button type="button"
                    class="border-[0.3pt] border-[#878484] w-full p-2 flex gap-5 justify-center rounded-lg text-[#878484]">
                    <i class="fa-brands fa-facebook text-lg"></i>
                    <span class="text-lg">Continue with Facebook</span>
                </button>
            </div>

            <div class="w-full mb-5">
                <button type="button" (click)="toogle()"
                    class="border-[0.3pt] border-[#878484] w-full p-2 flex gap-5 justify-center rounded-lg text-[#878484]">
                    <i class="fa-solid fa-phone text-lg"></i>
                    <span class="text-lg">Continue with Email</span>
                </button>
            </div>
        </section>
    </section>
</div>
<con-navbar></con-navbar>