<nav>
  <swiper-container class="bg-[#fff]" #swiper appSwiper [config]="config" (slideChange)="slideChange($event)">
    <swiper-slide class="p-5">
      <div class="container lg:mt-16 mx-auto flex lg:flex-row md:flex-row flex-col  justify-center gap-5 align-middle">
        <section class="lg:mt-10 order-2 lg:order-1">
          <h1 class="text-primary text-3xl text-left lg:w-[65%] left-6">Engage Expert Professionals for Your Next
            Service
            Excellence.</h1>
          <p class="mt-5 text-lg text-slate-700 lg:w-[80%]">Welcome to the world's marketplace where we
            collaborate with
            your
            imagination,
            transcending
            time
            constraints
            and delivering seamless problem-solving solutions.</p>
          <button class="rounded-full mt-5 mb-5 lg:mb-0 p-5 w-60 bg-primary text-white">Get Started</button>
        </section>
        <img src="assets/imgs/first-nav-slide.png" class="lg:w-[50%] w-full mb-0 lg:mb-5 order-1 lg:order-2"
          alt="First Slide">
      </div>
    </swiper-slide>
    <swiper-slide class="p-5">
      <div class="container lg:mt-16 mx-auto flex lg:flex-row md:flex-row flex-col  justify-center gap-5 align-middle">
        <section class="lg:mt-10 order-2 lg:order-1">
          <h1 class="text-primary text-3xl text-left lg:w-[65%] left-6">We're Your Premier Destination for Craftsmanship
            Excellence.</h1>
          <p class="mt-5 text-lg text-slate-700 lg:w-[80%] text-justify">Experience the Distinction with Craftimity.
            Your
            Path to Success Starts Here.</p>
          <button class="rounded-full mt-5 mb-5 lg:mb-0 p-5 w-60 bg-primary text-white">Get Started</button>
        </section>
        <img src="assets/imgs/second-nav-slide.png" class="lg:w-[50%] w-full mb-0 lg:mb-5 order-1 lg:order-2"
          alt="First Slide">
      </div>
    </swiper-slide>
    <swiper-slide class="p-5">
      <div class="container lg:mt-16 mx-auto flex lg:flex-row md:flex-row flex-col  justify-center gap-5 align-middle">
        <section class="lg:mt-10 order-2 lg:order-1">
          <h1 class="text-primary text-3xl text-left lg:w-[65%] left-6">Exceptional Customer Service: Where Your
            Satisfaction is Our Priority.</h1>
          <p class="mt-5 text-lg text-slate-700 lg:w-[80%] text-justify">Setting Ourselves Apart with Commitment to
            Customization and Personalization. Your Success is Our Priority.</p>
          <button class="rounded-full mt-5 mb-5 lg:mb-0 p-5 w-60 bg-primary text-white">Get Started</button>
        </section>
        <img src="assets/imgs/third-nav-slide.png" class="lg:w-[50%] w-full mb-0 lg:mb-5 order-1 lg:order-2"
          alt="First Slide">
      </div>
    </swiper-slide>
  </swiper-container>
</nav>