<ion-tabs class="">
  <ion-tab-bar slot="bottom" class="custom rounded-tl-2xl bg-[#12427A] rounded-tr-2xl ion-padding">
    <ion-tab-button tab="home" class="button bg-[#12427A]">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="orders" class="button bg-[#12427A]">
      <ion-icon name="list"></ion-icon>
      Orders
    </ion-tab-button>
    <ion-tab-button tab="services" class="button bg-[#12427A]">
      <ion-icon name="server"></ion-icon>
      Services
    </ion-tab-button>
    <ion-tab-button tab="messages" class="button bg-[#12427A]">
      <ion-icon name="mail-open"></ion-icon>
      Messages
    </ion-tab-button>
    <ion-tab-button tab="more" class="button bg-[#12427A]">
      <ion-icon color="white" name="ellipsis-horizontal"></ion-icon>
      More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>